body, p, li {
  border: 11px groove black;
  background-color: #999999;
  display: block;
  visibility: visible;
}
.ATL {
  background-color: white;
  background-image: url(file:///C:/Users/alumno/Downloads/desvara.);
  background-position: left center;
  font-size: 21px;
  line-height: 19px;
}
.BOTOON {
  border: 2px solid #999999;
  padding: 15px 40px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.boton {
  border: 2px solid #999999;
  padding: 15px 40px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
